html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1em;
    background: #fdeece;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    height: 100%;
    /* border: 1px solid pink; */
}

/* HEADER */
header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 5em;
    background: url('imgs/header_mobile.png');
    background-position: center;
    color: white;
    top: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    z-index: 3;
}

/* MAIN CONTENT */
.main-content {
    position: relative;
    display: flex;
    width: 100%;
    height: 100% - 5em; /*SUBTRACT HEADER AND FOOTER HEIGHT*/
    font-family: 'Press Start 2P', sans-serif;
    margin-top: 5em;
    /* border: 1px solid green; */
}

#onboarding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 75%;
    padding: 3em;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

#onboarding img {
    width: 50%;
    max-width: 150px;
    padding-bottom: 1em;
    /* border: 1px solid black; */
}

#onboarding > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid black; */
}

#onboarding p {
    width: 100%;
    max-width: 350px;
    font-size: .5em;
    line-height: 1.5em;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

#onboarding #scream {
    font-size: 2em;
}

#onboarding a {
    color: black;
}

#onboarding a:hover {
    text-decoration: none;
}

#loading-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 103%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f0f0f;
    color: #fdeece;
    z-index: 2
}

/* MENU */
#menu-container {
    position: fixed;
    width: 100%;
    height: 105%;
    background: rgba(0, 0, 0, .5);
    margin: 0;
    margin-top: -1em;
    z-index: 2;
}

#menu {
    display: flex;
    flex-direction: column;
    background: #fdeece;
    margin: 0;
    padding: 0;
    padding-top: 1em;
    /* border: 1px solid white; */
    border-radius: 0 0 4px 4px;
    color: #0f0f0f;
}

#filter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em;
}

.filter-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: .5em;
    padding: .5em;
    box-sizing: border-box;
    border: 2px solid #d03419;
    border-radius: 4px;
}

.filter-title {
    align-self: flex-start;
    font-size: .75em;
    margin: .5em .5em;;
    padding: 0;
}

.checkboxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-size: .7em;
    margin: .5em 0;
}

.filter-each {
    width: 48%;
    max-width: 350px;
    padding: .2em 0;
}

#decades .filter-each {
    width: 30%;
    margin-right: .5em;
}

#decades label {
    margin-left: -.5em;
}

/* BUTTONS */
#filter-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#menu-button { /*Only filter menu button. Inside <header>*/
    background: #d03419;
    padding: 2px;
    margin: 0 10px 9px 0;
    border: 2px solid #fdeece;
    border-radius: 4px;
    z-index: 1;
}

    #menu-button:hover { /*Inside <header>*/
        background: #d57f18;
    }

.button { /*All buttons excluding filters*/
    font-family: 'Press Start 2P', sans-serif;
    font-size: .7em;
    padding: .75em;
}

#filter-buttons-container .button { /*Only filter menu buttons*/
    background: #fdeece;
    border: 2px solid #d03419;
    border-radius: 4px;
}

    #filter-buttons-container .button:hover { /*Only filter menu buttons*/
        background: #d03419;
        color: #fdeece;
    }

.details-button-container { /*Inside .card-back*/
    position: absolute;
    bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 1.25em;
    margin: .5em;
    /* border: 1px solid blue; */
}

.selected-card .details-button-container {
    position: relative;
    align-self: center;
    margin-top: 1.5em;
}

.details-button-container button { /*Only the more details button*/
    background: #fdeece;
    color: #0f0f0f;
    /* padding: .5em; */
    border: 2px solid #d03419;
    border-radius: 4px;
}

    .details-button-container button:hover { /*Only the more details button*/
        background: #d03419;
        color: #fdeece;
    }

/* CLICK UI */
.click-UI {
    width: 100%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
}

/* CLICK UI CARDS */
.card {
    /* position: relative; */
    width: 80%;
    height: 40%;
    background: transparent;
    margin: 0;
    margin-top: .5em;
    perspective: 1000px;
    /* border: 1px solid red; */
}

.selected-card {
    position: fixed;
    bottom: 0;
    height: 97%;
    width: 100%;
    overflow-y: scroll;
    transition-duration: .2s;
    z-index: 1;
    /* padding-top: 10%; */
    margin: 0;
    margin-top: -10%;
    border: 2px solid green;
}

.selected-card .details-title {
    margin-top: 4em;
}

.selected-card .card-back {
    border: none;
}

.card-sleeve { /*Thank you, W3Schools for showing me that this won't work without an extra container div */
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform .5s;
    transform-style: preserve-3d;
}

/* .card:hover .card-sleeve { I kept writing this line as .card:hover, .card-sleeve... how aggravating
    transform: rotateY(180deg)
} */

.flip { /* The above doesn't work as intended with the zoom modal. Created new class to trigger on focus. */
    transform: rotateY(180deg)
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    display: flex;
    align-items: center;
    background: #fdeece;
}

.card-front img {
    width: 100%;
    max-height: 100%;
    border: 1px solid black;
}

.card-back {
    display: flex;
    flex-direction: column;
    background: #d57f18;
    color: #fdeece;
    overflow-y: scroll;
    padding: .5em 1em;
    margin: 0;
    border: 2px solid #fdeece;
    border-radius: 4px;
    box-sizing: border-box;
    transform: rotateY(180deg);
}

.gallery-container {
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%
}

.gallery-container img {
    width: 47%;
    margin: 1em 0;
    background-color: transparent;
}

.details-title {
    margin: .5em 0 1em 0;
}

.details-heading {
    margin: .25em 0;
}

.details-p {
    font-size: .7em;
    margin: 1em;
}

/* TOGGLES */
.hide {
    display: none;
}

.disable-scroll {
    overflow-y: hidden;
}

.slide-out {
    transform: translateY(-150%);
    transition-duration: .5s;
}


/* MEDIA QUERIES */
@media (min-width: 700px) {
    body {
        background: pink;
    }

    header {
        background: url('imgs/header_desktop.png');
        background-position: left;
    }

    #menu {
        position: absolute;
        right: 0;
        width: 60%;
    }

    #onboarding img {
        max-width: 200px;
    }

    #onboarding p {
        font-size: .65em;
    }

    #onboarding #scream {
        font-size: 1.5em;
    }

    #loading-container {
        font-size: 1em;
    }

    .filter-title {
        font-size: .8em;
        line-height: 1.5em;
    }

    .checkboxes {
        font-size: .78em;
    }

    .button {
        font-size: .78em;
    }

    .card {
        width: 45%;
        height: 30%;
        max-width: 450px;
        margin-top: 1em;
    }

    .selected-card {
        width: 100%;
        height: 97%;
        max-width: 100%;
    }

    .gallery-container img {
        width: 30%;
    }

    .details-title {
        margin-left: 1em;
    }

    .details-heading {
        margin-left: 1.6em;
    }

    .details-p {
        margin-left: 2.5em;
    }
}


@media (min-width: 1280px) {
    body {
        background: olive;
    }

    header {
        background: url('imgs/header_desktop.png');
        background-position: left;
    }

    #menu {
        position: absolute;
        right: 0;
        width: 50%;
    }

    #onboarding {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 85%;
    }

    #onboarding img {
        max-width: 300px;
        padding-right: 4em;
    }

    #onboarding > div {
        max-width: 30%;
    }

    #onboarding p {
        font-size: .8em;
        line-height: 1.5em;
    }

    #onboarding #scream {
        font-size: 2em;
        line-height: 1.5em;
    }

    #loading-container {
        font-size: 1.25em;
    }

    .filter-title {
        font-size: 1em;
        line-height: 1.5em;
    }

    .checkboxes {
        font-size: .85em;
    }

    .button {
        font-size: .85em;
    }

    .card {
        width: 30%;
        height: 30%;
        max-width: 600px;
        margin-top: 1em;
    }

    .selected-card {
        width: 100%;
        height: 97%;
        max-width: 100%;
    }

    .details-title {
        font-size: 1.25em;
        margin-left: 2em;
    }

    .details-heading {
        font-size: 1.1em;
        margin-left: 3.25em;
    }

    .details-p {
        font-size: 1.1em;
        margin-left: 4em;
    }
}
