html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1em;
    background: #fdeece;
    padding: 0;
    margin: 0;
}

/* ::-webkit-scrollbar {
    display: none;
} */

.container {
    display: flex;
    height: 100%;
    /* border: 1px solid pink; */
}

/* HEADER */
header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 5em;
    background: url('imgs/header_mobile.png');
    background-position: center;
    color: white;
    top: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    z-index: 3;
}

/* MAIN CONTENT */
.main-content {
    position: relative;
    display: flex;
    width: 100%;
    height: 100% - 5em; /*SUBTRACT HEADER AND FOOTER HEIGHT*/
    margin-top: 5em;
    /* border: 1px solid green; */
}

#loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', sans-serif;
    background: #0f0f0f;
    color: #eee;
}

/* MENU */
#menu-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    margin: 0;
    z-index: 2;
}

#menu {
    display: flex;
    flex-direction: column;
    background: #fdeece;
    margin: 0;
    padding: 0;
    /* border: 1px solid white; */
    border-radius: 0 0 4px 4px;
    color: #0f0f0f;
}

#filter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em;
}

.filter-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: .5em;
    padding: .5em;
    box-sizing: border-box;
    border: 2px solid #d03419;
    border-radius: 4px;
}

.filter-title {
    align-self: flex-start;
    font-size: .75em;
    margin: .5em .5em;;
    padding: 0;
}

.checkboxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-size: .7em;
    margin: .5em 0;
}

.filter-each {
    width: 48%;
    padding: .2em 0;
}

#decades .filter-each {
    width: 30%;
    margin-right: .5em;
}

#decades label {
    margin-left: -.5em;
}

#filter-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* CLICK UI */
.click-UI {
    width: 100%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
}

/* BUTTONS */
#menu-button { /*Only filter menu button. Inside <header>*/
    background: #d03419;
    padding: 2px;
    margin: 0 10px 9px 0;
    border: 2px solid #fdeece;
    border-radius: 4px;
    z-index: 1;
}

#menu-button { /*Inside <header>*/
    background: #d03419;
    padding: 2px;
    margin: 0 10px 9px 0;
    border: 2px solid #fdeece;
    border-radius: 4px;
    z-index: 1;
}

.button { /*All buttons excluding filters*/
    font-family: 'Press Start 2P', sans-serif;
    font-size: .7em;
    background: ;
    padding: .25em;
}

#filter-buttons-container .button { /*Only filter menu buttons*/
    background: #fdeece;
    border: 2px solid #d03419;
    border-radius: 4px;
}

#filter-buttons-container .button:hover { /*Only filter menu buttons*/
    background: #d03419;
    color: #fdeece;
    border: 2px solid #d57f18;
}

.details-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1.25em;
    margin: .5em;
    /* border: 1px solid red; */
}

.details-button { /*Only the more details button*/

}

/* CLICK UI CARDS */
.card {
    /* position: relative; */
    width: 80%;
    height: 40%;
    background: transparent;
    margin: 0;
    margin-top: 1.5em;
    perspective: 1000px;
    /* border: 1px solid red; */
}

.selected-card {
    position: fixed;
    bottom: 0;
    height: 97%;
    width: 100%;
    overflow-y: scroll;
    transition-duration: .2s;
    z-index: 1;
    /* padding-top: 10%; */
    margin: 0;
    margin-top: -10%;
}

.selected-card .details-title {
    margin-top: 3em;
}

.card-sleeve { /*Thank you, W3Schools for showing me that this won't work without an extra container div */
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform .5s;
    transform-style: preserve-3d;
}

/* .card:hover .card-sleeve { I kept writing this line as .card:hover, .card-sleeve... how aggravating
    transform: rotateY(180deg)
} */

.flip { /* The above doesn't work as intended with the zoom modal. Created new class to trigger on focus. */
    transform: rotateY(180deg)
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    display: flex;
    align-items: center;
    background: #fdeece;
}

.card-front img {
    width: 100%;
    max-height: 100%;
}

.card-back {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #d57f18;
    color: #fdeece;
    overflow-y: scroll;
    padding: .5em .5em;
    margin: 0;
    border: 2px solid #d03419;
    border-radius: 4px;
    box-sizing: border-box;
    transform: rotateY(180deg);
}

.gallery-container {
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%
}

.gallery-container img {
    width: 47%;
    margin: 1em 0;
    background-color: transparent;
}

.details-title {
    margin: .5em 0 1em 0;
}

.details-heading {
    margin: .25em 0;
}

.details-p {
    font-size: .7em;
    margin: 1em;
}

/* TOGGLES */
.hide {
    display: none;
}

.stop-scroll {
    overflow-y: hidden;
}
